
// keyvisual
.keyvisual{
  color: $bc-white;
  display: flex;
  min-height: 90vh;
  background-color: $mc-black;
  position: relative;
}
.keyvisual__content{
  padding-top: 200px;
  padding-bottom: 120px;
}

.keyvisual__ttl{
  margin-bottom: 20px;
  img{
    max-width: 625px;
    width: 100%;
    height: auto;
  }
  
}

.keyvisual__subttl{
  font-size: 16px;
  letter-spacing: 0.15em;
  line-height: 2;
  margin-bottom: 64px;
}

.keyvisual__bg{
  position: absolute;
  display: flex;
  top: 0;
  height: 90vh;
  z-index: -10;
  width: 100%;
}
.keyvisual__bgb{
  flex: 3;
  background-color: $mc-black;
}

.keyvisual__bgi{
  flex: 7;
  overflow: hidden;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient( to bottom right,rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    @include sp{
      background: linear-gradient( to bottom right,rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// keyvisual end

// commitment
.commitment{
  padding: 200px 0 160px;
  background-color: $bc-white;
  position: relative;
  @include tab{
    padding: 120px 0 120px;
  }
  @include sp{
    padding: 80px 0 40px;
  }
}
.commitment__bgt{
  position: absolute;
  z-index: -10;
  top: 40px;
  @include tab{
    top: 20px;
  }
  img{
    @include tab{
      width: 100%;
    }
  }
}
.commitment__contents{
  display: flex;
  justify-content: space-between;
  gap: 0px;
  @include sp{
    flex-direction: column;
  }
}
.commitment__text{
  flex: 1;
  max-width: 496px;
}
.commitment__subttl{
  color: $ac-wine-red;
  font-family: $ff-gothic;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  @include sp{
    margin-bottom: 24px;
  }
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 80px;
    height: 1px;
    background-color: $ac-wine-red;
  }
}
.commitment__ttl{
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 24px;
  @include sp{
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.commitment__description{
  margin-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 2;
  font-family: $ff-gothic;
  @include sp{
    margin-bottom: 24px;
    font-size: 16px;
  }
}
.mb24{
  margin-bottom: 24px;
}
.commitment__img{
  flex: 1;
  position: relative;
  right: -120px;
  top: 80px;
  @include tab{
    right: -40px;
  }
  @include sp{
    right: 0;
    top: 40px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include sp{
      height: auto;
    }
  }
}
// commitment end

// selection
.selection{
  padding: 200px 0 40px;
  background-color: $bc-white;
  position: relative;
  @include tab{
    padding: 160px 0 80px;
  }
  @include sp{
    padding: 80px 0 40px;
  }
}

.selection__bgt{
  position: absolute;
  z-index: -10;
  top: 20px;
  @include tab{
    top: 20px;
  }
  img{
    @include tab{
      width: 100%;
    }
  }
}
.selection__contents{
  display: flex;
  justify-content: space-between;
  gap: 0px;
  @include sp{
    flex-direction: column;
    gap: 40px;
  }
}
.selection__text{
  flex: 1;
  max-width: 496px;
  padding-top: 80px;
  @include tab{
    padding-top: 40px;
  }
  @include sp{
    order: 1;
    padding-top: 0;
  }
}
.selection__subttl{
  color: $ac-wine-red;
  font-family: $ff-gothic;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  @include sp{
    margin-bottom: 24px;
  }
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 80px;
    height: 1px;
    background-color: $ac-wine-red;
  }
}
.selection__ttl{
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 24px;
  @include sp{
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.selection__description{
  margin-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 2;
  font-family: $ff-gothic;
  @include sp{
    margin-bottom: 24px;
    font-size: 16px;
  }
}
.selection__img{
  position: relative;
  left: -120px;
  flex:1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:0;
  @include tab{
    left: -40px;
    align-self: start;
  }
  @include sp{
    order: 2;
    left: 0;
  }
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}
// selection end

// information
.information{
  padding: 80px 0;
  background-color: $bc-white;
  color: $bc-white;
  @include tab{
    padding: 0 0 80px;
  }
  @include sp{
    padding-bottom: 40px;
  }
}
.inner-info{
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  @include tab{
    padding: 0 40px;
  }
  @include sp{
    padding: 0 20px;
  }
}
.information__contents{
  background-image: url(../images/store-exterior.webp);
  background-size: cover;
  border-radius: 16px;
}
.inner-info--mask{
  background-color: rgba(0,0,0,0.5);
  border-radius: 16px;
  padding: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  @include tab{
    padding: 40px;
    flex-direction: column;
  }
  @include sp{
    padding: 20px;
  }
}

.information__text{
  flex:6;
  @include tab{
    flex: initial;
  }
  @include sp{
  }
}
.information__subttl{
  color: $bc-light-glay;
  font-family: $ff-gothic;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  @include sp{
    margin-bottom: 24px;
  }
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 1px;
    background-color: $bc-light-glay;
  }
}
.information__ttl{
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 40px;
  @include sp{
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.information__list{
  list-style: none;
  margin-bottom: 32px;
  @include tab{
    margin-bottom: 0;
  }
  li{
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 1.3;
    font-family: $ff-gothic;
    display: flex;
    align-items: center;
    gap:8px;
    @include sp{
      margin-bottom: 16px;
      font-size: 16px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.information__hours{
  max-width: 463px;
  width: 100%;
  height: auto;
}
.information__icon{
  width: 24px;
  height: 24px;
}
.information__map{
  flex:4;
  align-self: flex-end;
  border-radius: 8px;
  @include tab{
    align-self: start;
    flex: initial;
  }
  @include sp{
    width: 100%;
  }
}
// information end

// news
.news{
  padding: 40px 0 80px;
  background-color: $bc-white;
  @include tab{
    padding-bottom: 80px;
  }
  @include sp{
    padding: 0 0 40px;
  }
}

.news__contents{
  display: flex;
  gap: 80px;
  @include tab{
    flex-direction: column;
    gap: 40px;
  }
}
.news__text{
  flex:4;
  @include tab{
    flex: 4;
  }
}
.news__subttl{
  color: $ac-wine-red;
  font-family: $ff-gothic;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  @include sp{
    margin-bottom: 24px;
  }
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 24px;
    height: 1px;
    background-color: $ac-wine-red;
  }
}
.news__ttl{
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 120px;
  @include tab{
    margin-bottom: 0;
  }
  @include sp{
    font-size: 24px;
  }
}
.news__list{
  list-style: none;
  flex: 6;
  padding-top: 80px;
  @include tab{
    flex: 6;
    padding-top: 0;
    margin-bottom: 40px;
  }
  
  li{
    border-top:1px solid $borderDef;
    position: relative;
    &:last-child{
      border-bottom:1px solid $borderDef;
    }
    a{
      display: block;
      color: $mc-light-black;
      padding: 20px;
      font-size: 16px;
      font-family: $ff-gothic;
      position: relative;
      background: linear-gradient(to right, rgba(168,68,68,0.1) 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: background-position 0.5s ease-in-out;
      @include sp{
        font-size: 16px;
        padding: 16px;
        width: 100%;
      }
      &:hover{
        background-position: left bottom;
      }
    }
  }
}
.news__contents-day{
  position: absolute;
  right: 24px;
  top: 24px;
  @include sp{
    position: static;
    display: block;
  }
}
.news__btn--pc{
  @include tab{
    display: none;
  }
}
.news__btn--tab{
  display: none;
  @include tab{
    display: flex;
  }
}
// news end

// footer
.footer{
  padding: 48px 0px 64px;
  background-color: $mc-black;
  @include sp{
    padding: 40px 0;
  }
}
.footer__contents{
  display: flex;
  margin-bottom: 48px;
  gap: 80px;
  @include tab{
    flex-direction: column;
    gap: 40px;
  }
}
.footer__contents-logo{
  flex: 1;
  align-self: center;
  a{
    transition: all 0.3s ease-in-out;
    &:hover{
      opacity: 0.7;
    }
  }
}
.footer__contents-nav{
  flex: 1;
  list-style-type: none;
  border-left: 1px solid $bc-white;
  
  li{
    a{
      color: $bc-white;
      font-family: $ff-gothic;
      padding: 12px 24px;
      display: block;
      transition: all 0.3s ease-in-out;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}
.footer__nav-ja{
  display: block;
  font-family: $ff-mincho-ja;
  font-size: 16px;
}
.footer__message{
  flex: 2;
}
.footer__message-ttl{
  font-size: 24px;
  letter-spacing: 0.08em;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: $bc-white;
  @include sp{
    font-size: 20px;
  }
}
.footer__message-body{
  color: $bc-white;
  line-height: 1.75;
  @include sp{
    font-size: 14px;
  }
}
.footer__copyright{
  color: $bc-white;
  text-align: center;
}
// footer end

// animation
.keyvisual {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.keyvisual.show{
  opacity: 1;
  transform: translateY(0);
}

.section .inner--small {
  opacity: 0; 
  transform: translateY(50px); 
  transition: all 0.5s ease-in-out;
}

.section .inner--small.show {
  opacity: 1; 
  transform: translateY(0);
}


.fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show{
  opacity: 1;
  transform: translateY(0);
}
// animation end


// contact

.contact{
  padding: 48px 24px 64px;
  @include sp{
    padding-bottom: 48px;
  }
}

.contact-form{
  max-width: 800px;
  margin: 0 auto 48px;
}
.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  @include sp{
    flex-direction: column;
    gap: 8px;
  }
}

.form-row.full {
  flex-direction: column;
  align-items: flex-start;
  button{
    margin: 0 auto;
  }
}

label {
  width: 200px;
  font-weight: normal;
  padding-top: 10px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: $mc-black;
  @include sp{
    font-size: 14px;
    width: 100%;
  }
}

.required {
  color: $ac-wine-red;
  font-size: 14px;
  margin-left: 4px;
  @include sp{
    font-size: 12px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  flex: 1;
  padding: 16px;
  font-size: 16px;
  background: #f7f7f7;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  resize: vertical;
  color: $mc-black;
  @include sp{
    font-size: 16px;
    width: 100%;
  }
}

textarea {
  min-height: 200px;
}

.consent {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  span{
    margin-left: 24px;
  }
}

.consent a {
  color: #3b82f6;
  text-decoration: underline;
}

.contact__btn {
  background: $ac-wine-red;
  color: white;
  padding: 16px 40px;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1.5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  @include sp{
    width: 100%;
  }
  &:hover{
    background-color: #652929;
    box-shadow: none;
  }
}

.mb32{
  margin-bottom: 32px;
}