
// keyvisual
.keyvisual{
  background-image: url(../images/amande-keyvisual.webp);
  background-size: cover;
  background-position: 0% 100%;
  color: $bc-white;
  position: relative;
  // text-align: center;
  background-repeat: no-repeat;
  @include sp{
    background-position: 50% 100%;
  }
}
.inner--mask{
  background-color: rgba(0,0,0,0.5);
  padding: 280px 48px 280px;
  @include sp{
    padding: 200px 24px;
  }
}
.keyvisual__ttl{
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
  line-height: 2;
  font-weight: normal;
  // text-shadow: 2px 2px 2px rgba(255,255,255,0.3);
  @include sp{
    font-size: 24px;
    line-height: 2;
  }
}

.keyvisual__subttl-box{
  position: absolute;
  // background-color: rgba(0,0,0,0.5);
  right: 0;
  bottom: 0;
  width: 50%;
  height: 60%;
  // clip-path: polygon(100% 0, 0 100%, 100% 100%);
  z-index: 1;
  @include sp{
    width: 70%;
    height: 35%;
  }
}
.keyvisual__subttl{
  font-size: 72px;
  position: absolute;
  right: 8%;
  bottom: 8%;
  font-weight: normal;
  letter-spacing: 0.15em;
  line-height: 1.75;
  text-align: right;
  // font-family: $ff-kgpw3;
  font-family: 'Dancing Script', cursive;
  color: rgba(255,255,255,0.3);
  @include tab{
    right: 24px;
    bottom: 48px;
  }
  @include sp{
    font-size: 20px;
    bottom: 24px;
  }
}
// keyvisual end

// commitment
.commitment{
  padding: 64px 48px;
  background-color: $bc-white;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.commitment__contents{
  display: flex;
  justify-content: space-between;
  gap: 64px;
  @include tab{
    gap: 48px;
  }
  @include sp{
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}
.commitment__text{
  width: 50%;
  @include sp{
    order:2;
    width: 100%;
    margin: 0 auto;
  }
}
.commitment__ttl--sp{
  display: none;
  @include sp{
    display: block;
    text-align: center;
    margin-bottom: 0;
  }
}
.commitment__ttl{
  @include sp{
    display: none;
  }
}
.commitment__description{
  margin-bottom: 12px;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 2;
  @include sp{
    margin-bottom: 24px;
    font-size: 16px;
  }
}
.mb24{
  margin-bottom: 24px;
}
.commitment__img{
  width: 50%;
  @include sp{
    width: 100%;
    order: 1;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include sp{
      height: auto;
    }
  }
}
// commitment end

// selection
.selection{
  padding: 48px 24px 64px;
  background-color: $bc-light-glay;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.selection__ttl{
  text-align: center;
}
.selection__contents{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 48px;
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 24px;
  }
}
.selection__card{
  position: relative;
  @include tab{
    
  }
  @include sp{
    
  }
  img{
    width: 100%;
    height: auto;

  }
}
.selection__card-label{
  background-color: rgba(54,54,54,0.8);
  color: $bc-white;
  font-family: $ff-kgpw3;
  text-align: center;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}
.selection__btn{
  margin:0 auto;
}
// selection end

// information
.information{
  padding: 48px 24px 64px;
  background-color: $bc-white;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.information__contents{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  @include sp{
    flex-wrap: wrap;
    gap: 24px;
  }
}
.information__ttl--sp{
  display: none;
  @include sp{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
.information__img{
  width: 40%;
  @include sp{
    width: 100%;
    order: 1;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.information__text{
  width: 60%;
  @include sp{
    width: 100%;
    order: 2;
  }
}
.information__ttl{
  @include sp{
    display: none;
  }
}
.information__description{
  list-style: none;
  margin-bottom: 32px;
  
  li{
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.3;
    @include sp{
      margin-bottom: 16px;
      font-size: 16px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
// information end

// news
.news{
  padding: 48px 24px 64px;
  background-color: $bc-light-glay;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.news__ttl{
  text-align: center;
}
.news__contents{
  margin-bottom: 48px;
  list-style: none;
  @include sp{
    margin-bottom: 24px;
  }
  li{
    border-top:1px solid $mc-light-black;
    position: relative;
    &:last-child{
      border-bottom:1px solid $mc-light-black;
    }
    a{
      display: block;
      color: $mc-light-black;
      padding: 24px;
      font-size: 20px;
      position: relative;
      background: linear-gradient(to right, rgba(168,68,68,0.1) 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: background-position 0.5s ease-in-out;
      @include sp{
        font-size: 16px;
        padding: 16px;
        width: 100%;
      }
      &:hover{
        background-position: left bottom;
      }
    }
  }
}
.news__contents-day{
  position: absolute;
  right: 24px;
  top: 24px;
  @include sp{
    position: static;
    display: block;
  }
}
.news__btn{
  margin: 0 auto;
}
// news end

// footer
.footer{
  padding: 48px 24px 64px;
  background-color: $mc-black;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.footer__contents{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 48px;
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 32px;
    gap: 32px;
  }
}
.footer__contents-logo{
  @include sp{
    width: 100%;
    text-align: center;
  }
  a{
    transition: all 0.3s ease-in-out;
    &:hover{
      opacity: 0.7;
    }
  }
}
.footer__contents-nav{
  list-style-type: none;
  @include sp{
    width: 100%;
    text-align: center;
  }
  li{
    margin-bottom: 24px;
    @include sp{
      margin-bottom: 16px;
      padding: 16px;
      border-bottom: 1px solid $bc-white;
    }
    &:last-child{
      margin-bottom: 0;
    }
    a{
      color: $bc-white;
      font-family: $ff-serif-en;
      transition: all 0.3s ease-in-out;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}
.footer__nav-ja{
  display: block;
  font-family: $ff-mincho-ja;
  font-size: 16px;
}
.footer__contents-sns{
  @include sp{
    width: 100%;
    text-align: center;
  }
}
.footer__sns-ttl{
  font-size: 20px;
  color: $bc-white;
  margin-bottom: 24px;
  font-family: $ff-serif-en;
  @include sp{
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
  }
}
.footer__sns-list{
  list-style-type: none;
  margin-left: 24px;
  @include sp{
    margin-left: 0;
  }
  li{
    margin-bottom: 24px;
    @include sp{
      margin-bottom: 16px;
      border-bottom: 1px solid $bc-white;
      padding-bottom: 16px;
    }
    a{
      color: $bc-white;
      transition: all 0.3s ease-in-out;
      font-family: $ff-serif-en;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}
.footer__copyright{
  color: $bc-white;
  text-align: center;
}
// footer end

// animation
.keyvisual {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.keyvisual.show{
  opacity: 1;
  transform: translateY(0);
}

.section .inner--small {
  opacity: 0; 
  transform: translateY(50px); 
  transition: all 0.5s ease-in-out;
}

.section .inner--small.show {
  opacity: 1; 
  transform: translateY(0);
}


.fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show{
  opacity: 1;
  transform: translateY(0);
}
// animation end


// contact

.contact{
  padding: 48px 24px 64px;
  @include sp{
    padding-bottom: 48px;
  }
}

.contact-form{
  max-width: 800px;
  margin: 0 auto 48px;
}
.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  @include sp{
    flex-direction: column;
    gap: 8px;
  }
}

.form-row.full {
  flex-direction: column;
  align-items: flex-start;
  button{
    margin: 0 auto;
  }
}

label {
  width: 200px;
  font-weight: normal;
  padding-top: 10px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: $mc-black;
  @include sp{
    font-size: 14px;
    width: 100%;
  }
}

.required {
  color: $ac-wine-red;
  font-size: 14px;
  margin-left: 4px;
  @include sp{
    font-size: 12px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  flex: 1;
  padding: 16px;
  font-size: 16px;
  background: #f7f7f7;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  resize: vertical;
  color: $mc-black;
  @include sp{
    font-size: 16px;
    width: 100%;
  }
}

textarea {
  min-height: 200px;
}

.consent {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  span{
    margin-left: 24px;
  }
}

.consent a {
  color: #3b82f6;
  text-decoration: underline;
}

.contact__btn {
  background: $ac-wine-red;
  color: white;
  padding: 16px 40px;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1.5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  @include sp{
    width: 100%;
  }
  &:hover{
    background-color: #652929;
    box-shadow: none;
  }
}

.mb32{
  margin-bottom: 32px;
}