
// keyvisual
.keyvisual{
  background-image: url(../images/amande-keyvisual.webp);
  background-size: cover;
  background-position: 0% 100%;
  color: $bc-white;
  text-align: center;
  background-repeat: no-repeat;
  @include sp{
    background-position: 50% 100%;
  }
}
.inner--mask{
  background-color: rgba(54,54,54,0.6);
  padding: 240px 24px;
}
.keyvisual__ttl{
  font-size: 48px;
  font-family: $ff-serif-en;
  margin-bottom: 24px;
  font-weight: normal;
  @include sp{
    font-size: 40px;
  }
}
.keyvisual__subttl{
  font-size: 24px;
}
// keyvisual end

// commitment
.commitment{
  padding: 48px 24px 64px;
  background-color: $bc-white;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.commitment__contents{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  @include sp{
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}
.commitment__text{
  width: 50%;
  @include sp{
    order:2;
    width: 100%;
    margin: 0 auto;
  }
}
.commitment__ttl--sp{
  display: none;
  @include sp{
    display: block;
    text-align: center;
    margin-bottom: 0;
  }
}
.commitment__ttl{
  @include sp{
    display: none;
  }
}
.commitment__description{
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 2;
  text-align: justify;
  @include sp{
    margin-bottom: 24px;
  }
}
.commitment__img{
  width: 50%;
  @include sp{
    width: 100%;
    order: 1;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include sp{
      height: auto;
    }
  }
}
// commitment end

// selection
.selection{
  padding: 48px 24px 64px;
  background-color: $bc-light-glay;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.selection__ttl{
  text-align: center;
}
.selection__contents{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  @include sp{
    margin-bottom: 24px;
    gap: 24px;
  }
}
.selection__card{
  width: 33.3%;
  position: relative;
  @include tab{
    width: 50%;
  }
  @include sp{
    width: 100%;
  }
  img{
    width: 100%;
    height: auto;

  }
}
.selection__card-label{
  background-color: rgba(54,54,54,0.8);
  color: $bc-white;
  text-align: center;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}
.selection__btn{
  margin:0 auto;
}
// selection end

// information
.information{
  padding: 48px 24px 64px;
  background-color: $bc-white;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.information__contents{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  @include sp{
    flex-wrap: wrap;
    gap: 24px;
  }
}
.information__ttl--sp{
  display: none;
  @include sp{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
.information__img{
  width: 40%;
  @include sp{
    width: 100%;
    order: 1;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.information__text{
  width: 60%;
  @include sp{
    width: 100%;
    order: 2;
  }
}
.information__ttl{
  @include sp{
    display: none;
  }
}
.information__description{
  list-style: none;
  margin-bottom: 24px;
  
  li{
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 1.3;
    @include sp{
      margin-bottom: 16px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
// information end

// news
.news{
  padding: 48px 24px 64px;
  background-color: $bc-light-glay;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.news__ttl{
  text-align: center;
}
.news__contents{
  margin-bottom: 48px;
  list-style: none;
  @include sp{
    margin-bottom: 24px;
  }
  li{
    border-top:1px solid $mc-light-black;
    position: relative;
    &:last-child{
      border-bottom:1px solid $mc-light-black;
    }
    a{
      display: block;
      color: $mc-light-black;
      padding: 24px;
      font-size: 24px;
      transition: all 0.3s ease-in-out;
      @include sp{
        font-size: 16px;
        padding: 16px;
        width: 70%;
      }
      &:hover{
        background-color:rgba(168,68,68,0.1);
      }
    }
  }
}
.news__contents-day{
  position: absolute;
  right: 24px;
  top: 24px;
  @include sp{
    top: 16px;
    right: 16px;
  }
}
.news__btn{
  margin: 0 auto;
}
// news end

// footer
.footer{
  padding: 48px 24px 64px;
  background-color: $mc-black;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.footer__contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  @include sp{
    flex-wrap: wrap;
    margin-bottom: 24px;
    gap: 24px;
  }
}
.footer__contents-logo{
  width: 33.3%;
  @include sp{
    width: 100%;
    text-align: center;
  }
}
.footer__contents-nav{
  width: 33.3%;
  list-style-type: none;
  @include sp{
    width: 100%;
    text-align: center;
  }
  li{
    margin-bottom: 24px;
    @include sp{
      margin-bottom: 16px;
      padding: 16px;
      border-bottom: 1px solid $bc-white;
    }
    &:last-child{
      margin-bottom: 0;
    }
    a{
      color: $bc-white;
      font-family: $ff-serif-en;
      transition: all 0.3s ease-in-out;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}
.footer__nav-ja{
  display: block;
  font-family: $ff-mincho-ja;
  font-size: 16px;
}
.footer__contents-sns{
  width: 33.3%;
  @include sp{
    width: 100%;
    text-align: center;
  }
}
.footer__sns-ttl{
  font-size: 20px;
  color: $bc-white;
  margin-bottom: 24px;
  font-family: $ff-serif-en;
  @include sp{
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
  }
}
.footer__sns-list{
  list-style-type: none;
  margin-left: 24px;
  @include sp{
    margin-left: 0;
  }
  li{
    margin-bottom: 24px;
    @include sp{
      margin-bottom: 16px;
      border-bottom: 1px solid $bc-white;
      padding-bottom: 16px;
    }
    a{
      color: $bc-white;
      transition: all 0.3s ease-in-out;
      font-family: $ff-serif-en;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}
.footer__copyright{
  color: $bc-white;
  text-align: center;
}
// footer end

// animation
.keyvisual {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.keyvisual.show{
  opacity: 1;
  transform: translateY(0);
}

.section .inner--small {
  opacity: 0; 
  transform: translateY(50px); 
  transition: all 0.5s ease-in-out;
}

.section .inner--small.show {
  opacity: 1; 
  transform: translateY(0);
}


.fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show{
  opacity: 1;
  transform: translateY(0);
}
// animation end