.inner--small{
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

.inner--large{
  margin: 0 auto;
  max-width: 1232px;
  width: 100%;
}

// cta section
.cta{
  padding: 48px 24px 64px;
  background-color: $bc-light-glay;
  @include sp{
    padding: 24px 24px 48px;
  }
  .cta-btn{
    margin: 0 auto;
  }
}
.cta__ttl{
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: normal;
  @include tab{
    font-size: 24px;
  }
}
.cta__description{
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 32px;
}
// cta section end

.cta-btn{
  padding: 24px 0;
  text-align: center;
  display: block;
  color: $bc-white;
  max-width: 496px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  background-color: $ac-wine-red;
  transition: all 0.3s ease-in-out;
  border: 1px solid $ac-wine-red;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &:hover{
    background-color: $bc-white;
    color: $ac-wine-red;
    box-shadow: none;
  }
  @include sp{
    max-width: 100%;
    padding: 16px 0;
    font-size: 16px;
  }
}

.section__ttl{
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 24px;
  line-height: 1.1;
  font-family: $ff-serif-en;
  @include tab{
    font-size: 36px;
  }
  @include sp{
    font-size: 32px;
  }
}

.section__ttl-ja{
  display: block;
  font-size: 20px;
}

.header--detail{
  background-color: $mc-black;
  position: relative;
  .header__nav-links{
    a{
      border-bottom: 2px solid $mc-black;
    }
  }
}

.section__ttl--detail{
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 24px;
  line-height: 1.1;
  font-family: $ff-serif-en;
  text-align: center;
  @include sp{
    font-size: 30px;
  }
  span{
    display: block;
  font-size: 20px;
  }
}

.order1{
  order: 1;
}
.order2{
  order:2;
}