@charset "UTF-8";
/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 16px;
  font-weight: 500;
  color: #363636;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #363636;
}

th, td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #363636;
}

input, textarea {
  padding: 8px;
  border: 1px solid #363636;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}
input:focus, textarea:focus {
  outline: 1px solid #3b82f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  border: none;
}
input[type=submit] ::-moz-focus-inner {
  padding: 0;
  border: none;
}
input[type=radio] {
  display: none;
}
input[type=radio] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
}
input[type=radio] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #363636;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=radio] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=radio] + span:focus, input[type=radio] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #363636;
}
input[type=radio]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
  background: #a84444;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type=checkbox] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #363636;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=checkbox] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=checkbox]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #a84444;
  border-bottom: 3px solid #a84444;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #363636;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
  border: 1px solid #363636;
  box-shadow: none;
}

.hidden {
  display: none;
}

.wrapper {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  background-color: transparent;
  padding: 20px 0;
  width: 100%;
  z-index: 100;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  transition: 0.3s all ease-in-out;
  line-height: 1;
}
.header__logo img {
  width: 200px;
  height: auto;
}
@media (max-width: 768px) {
  .header__logo img {
    width: 140px;
  }
}
.header__logo:hover {
  opacity: 0.7;
}

.header__nav-links {
  display: flex;
  list-style-type: none;
}
@media (max-width: 992px) {
  .header__nav-links {
    display: none;
  }
}
.header__nav-links li {
  margin-left: 16px;
}
@media (max-width: 992px) {
  .header__nav-links li {
    margin-left: 0;
  }
}
.header__nav-links li a {
  color: #ffffff;
  transition: 0.3s all ease-in-out;
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.08em;
  padding: 14px;
  border: 1px solid transparent;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}
.header__nav-links li a:hover {
  border: 1px solid #ffffff;
}

.header__menu-toggle {
  display: none;
}
@media (max-width: 992px) {
  .header__menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 48px;
    width: 44px;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 24px;
    z-index: 100;
  }
}

.header__menu-icon {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
}
.header__menu-icon:nth-child(1) {
  top: 8px;
}
.header__menu-icon:nth-child(2) {
  top: 16px;
}
.header__menu-icon:nth-child(3) {
  top: 24px;
}

.header__menu-label {
  font-size: 14px;
  color: #ffffff;
  padding: 0 4px;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  top: 36px;
}

.active .header__menu-toggle .header__menu-icon:nth-child(1) {
  transform: translateY(0) rotate(225deg);
  position: absolute;
  top: 16px;
}
.active .header__menu-toggle .header__menu-icon:nth-child(2) {
  transform: translateY(0) rotate(-225deg);
  position: absolute;
  top: 16px;
}
.active .header__menu-toggle .header__menu-icon:nth-child(3) {
  display: none;
}
@media (max-width: 992px) {
  .active .header__nav-links {
    display: block;
    position: absolute;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    width: 100%;
    left: 0;
    padding: 96px 24px;
    text-align: center;
    z-index: 99;
  }
}
.active li {
  width: 100%;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .active li a {
    padding: 16px;
    border: 1px solid #ffffff;
  }
}

.header--detail {
  background-color: #101010;
  position: relative;
  padding: 16px 24px;
}

.inner--small {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
}

.inner--large {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 120px;
}

.inner--s {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .inner--s {
    padding: 0 20px;
  }
}

.inner--l {
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .inner--l {
    padding: 0 20px;
  }
}

.cta {
  padding: 48px 24px 64px;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .cta {
    padding: 24px 24px 48px;
  }
}
.cta .cta-btn {
  margin: 0 auto;
}

.cta__ttl {
  font-size: 36px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: normal;
}
@media (max-width: 992px) {
  .cta__ttl {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .cta__ttl {
    font-size: 20px;
  }
}

.cta__description {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .cta__description {
    font-size: 16px;
  }
}

.primary-btn {
  padding: 16px 32px;
  display: block;
  color: #ffffff;
  max-width: 320px;
  width: 100%;
  font-size: 16px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  letter-spacing: 0.16em;
  line-height: 1;
  text-decoration: none;
  position: relative;
  background: linear-gradient(to right, #652929 50%, #a84444 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.4s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-btn:hover {
  background-position: left bottom;
  box-shadow: none;
}
@media (max-width: 768px) {
  .primary-btn {
    max-width: 100%;
  }
}

.cta-btn {
  padding: 20px 0;
  text-align: center;
  display: block;
  color: #ffffff;
  max-width: 496px;
  width: 100%;
  font-size: 18px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans Japanese", sans-serif;
  font-weight: normal;
  letter-spacing: 0.16em;
  line-height: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  position: relative;
  background: linear-gradient(to right, #652929 50%, #a84444 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.4s ease-in-out;
}
.cta-btn:hover {
  background-position: left bottom;
  box-shadow: none;
}
@media (max-width: 768px) {
  .cta-btn {
    max-width: 100%;
    padding: 16px 0;
    font-size: 16px;
  }
}

.section__ttl {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  line-height: 1.3;
  font-family: "Cormorant Garamond", serif;
}
@media (max-width: 768px) {
  .section__ttl {
    font-size: 24px;
  }
}

.section__ttl-ja {
  display: block;
  font-size: 16px;
}

.section__ttl--detail {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 48px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
@media (max-width: 768px) {
  .section__ttl--detail {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.section__ttl--detail span {
  display: block;
  font-size: 16px;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.keyvisual {
  color: #ffffff;
  display: flex;
  min-height: 90vh;
  background-color: #101010;
  position: relative;
}

.keyvisual__content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 240px 0px 240px 120px;
  height: 90vh;
}
@media (max-width: 992px) {
  .keyvisual__content {
    padding-left: 80px;
  }
}
@media (max-width: 768px) {
  .keyvisual__content {
    padding-left: 0px;
    padding-right: 0px;
    flex: 3;
  }
}

.keyvisual__content-inner {
  position: absolute;
  top: 240px;
  z-index: 10;
}
@media (max-width: 992px) {
  .keyvisual__content-inner {
    padding: 0 20px;
  }
}

.keyvisual__ttl {
  font-size: 72px;
  letter-spacing: 0.2em;
  line-height: 1.5;
  font-weight: normal;
}
.keyvisual__ttl img {
  width: 100%;
  height: auto;
}

.keyvisual__subttl {
  font-size: 16px;
  letter-spacing: 0.15em;
  line-height: 2;
  margin-bottom: 80px;
}

.keyvisual__bgi {
  flex: 7;
  overflow: hidden;
  position: relative;
}
.keyvisual__bgi::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 768px) {
  .keyvisual__bgi::after {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  }
}
.keyvisual__bgi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.commitment {
  padding: 200px 0 160px;
  background-color: #ffffff;
  position: relative;
}
@media (max-width: 992px) {
  .commitment {
    padding: 120px 0 120px;
  }
}
@media (max-width: 768px) {
  .commitment {
    padding: 80px 0 40px;
  }
}

.commitment__bgt {
  position: absolute;
  z-index: -10;
  top: 40px;
}
@media (max-width: 992px) {
  .commitment__bgt {
    top: 20px;
  }
}
@media (max-width: 992px) {
  .commitment__bgt img {
    width: 100%;
  }
}

.commitment__contents {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}
@media (max-width: 768px) {
  .commitment__contents {
    flex-direction: column;
  }
}

.commitment__text {
  flex: 1;
  max-width: 496px;
}

.commitment__subttl {
  color: #a84444;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
}
@media (max-width: 768px) {
  .commitment__subttl {
    margin-bottom: 24px;
  }
}
.commitment__subttl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 80px;
  height: 1px;
  background-color: #a84444;
}

.commitment__ttl {
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .commitment__ttl {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.commitment__description {
  margin-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 2;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}
@media (max-width: 768px) {
  .commitment__description {
    margin-bottom: 24px;
    font-size: 16px;
  }
}

.mb24 {
  margin-bottom: 24px;
}

.commitment__img {
  flex: 1;
  position: relative;
  right: -120px;
  top: 80px;
}
@media (max-width: 992px) {
  .commitment__img {
    right: -40px;
  }
}
@media (max-width: 768px) {
  .commitment__img {
    right: 0;
    top: 40px;
  }
}
.commitment__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .commitment__img img {
    height: auto;
  }
}

.selection {
  padding: 200px 0 40px;
  background-color: #ffffff;
  position: relative;
}
@media (max-width: 992px) {
  .selection {
    padding: 160px 0 80px;
  }
}
@media (max-width: 768px) {
  .selection {
    padding: 80px 0 40px;
  }
}

.selection__bgt {
  position: absolute;
  z-index: -10;
  top: 20px;
}
@media (max-width: 992px) {
  .selection__bgt {
    top: 20px;
  }
}
@media (max-width: 992px) {
  .selection__bgt img {
    width: 100%;
  }
}

.selection__contents {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}
@media (max-width: 768px) {
  .selection__contents {
    flex-direction: column;
    gap: 40px;
  }
}

.selection__text {
  flex: 1;
  max-width: 496px;
  padding-top: 80px;
}
@media (max-width: 992px) {
  .selection__text {
    padding-top: 40px;
  }
}
@media (max-width: 768px) {
  .selection__text {
    order: 1;
    padding-top: 0;
  }
}

.selection__subttl {
  color: #a84444;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
}
@media (max-width: 768px) {
  .selection__subttl {
    margin-bottom: 24px;
  }
}
.selection__subttl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 80px;
  height: 1px;
  background-color: #a84444;
}

.selection__ttl {
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .selection__ttl {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.selection__description {
  margin-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 2;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}
@media (max-width: 768px) {
  .selection__description {
    margin-bottom: 24px;
    font-size: 16px;
  }
}

.selection__img {
  position: relative;
  left: -120px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
@media (max-width: 992px) {
  .selection__img {
    left: -40px;
    align-self: start;
  }
}
@media (max-width: 768px) {
  .selection__img {
    order: 2;
    left: 0;
  }
}
.selection__img img {
  display: block;
  width: 100%;
  height: auto;
}

.information {
  padding: 80px 0;
  background-color: #ffffff;
  color: #ffffff;
}
@media (max-width: 992px) {
  .information {
    padding: 0 0 80px;
  }
}
@media (max-width: 768px) {
  .information {
    padding-bottom: 40px;
  }
}

.inner-info {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
}
@media (max-width: 992px) {
  .inner-info {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .inner-info {
    padding: 0 20px;
  }
}

.information__contents {
  background-image: url(../images/store-exterior.webp);
  background-size: cover;
  border-radius: 16px;
}

.inner-info--mask {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 992px) {
  .inner-info--mask {
    padding: 40px;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .inner-info--mask {
    padding: 20px;
  }
}

.information__text {
  flex: 6;
}
@media (max-width: 992px) {
  .information__text {
    flex: initial;
  }
}
.information__subttl {
  color: #f7f7f7;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
}
@media (max-width: 768px) {
  .information__subttl {
    margin-bottom: 24px;
  }
}
.information__subttl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 40px;
  height: 1px;
  background-color: #f7f7f7;
}

.information__ttl {
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .information__ttl {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.information__list {
  list-style: none;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .information__list {
    margin-bottom: 0;
  }
}
.information__list li {
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 1.3;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .information__list li {
    margin-bottom: 16px;
    font-size: 16px;
  }
}
.information__list li:last-child {
  margin-bottom: 0;
}

.information__hours {
  max-width: 463px;
  width: 100%;
  height: auto;
}

.information__icon {
  width: 24px;
  height: 24px;
}

.information__map {
  flex: 4;
  align-self: flex-end;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .information__map {
    align-self: start;
    flex: initial;
  }
}
@media (max-width: 768px) {
  .information__map {
    width: 100%;
  }
}

.news {
  padding: 40px 0 80px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .news {
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .news {
    padding: 0 0 40px;
  }
}

.news__contents {
  display: flex;
  gap: 80px;
}
@media (max-width: 992px) {
  .news__contents {
    flex-direction: column;
    gap: 40px;
  }
}

.news__text {
  flex: 4;
}
@media (max-width: 992px) {
  .news__text {
    flex: 4;
  }
}

.news__subttl {
  color: #a84444;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
}
@media (max-width: 768px) {
  .news__subttl {
    margin-bottom: 24px;
  }
}
.news__subttl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 24px;
  height: 1px;
  background-color: #a84444;
}

.news__ttl {
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 120px;
}
@media (max-width: 992px) {
  .news__ttl {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .news__ttl {
    font-size: 24px;
  }
}

.news__list {
  list-style: none;
  flex: 6;
  padding-top: 80px;
}
@media (max-width: 992px) {
  .news__list {
    flex: 6;
    padding-top: 0;
    margin-bottom: 40px;
  }
}
.news__list li {
  border-top: 1px solid #ccc;
  position: relative;
}
.news__list li:last-child {
  border-bottom: 1px solid #ccc;
}
.news__list li a {
  display: block;
  color: #363636;
  padding: 20px;
  font-size: 16px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  position: relative;
  background: linear-gradient(to right, rgba(168, 68, 68, 0.1) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .news__list li a {
    font-size: 16px;
    padding: 16px;
    width: 100%;
  }
}
.news__list li a:hover {
  background-position: left bottom;
}

.news__contents-day {
  position: absolute;
  right: 24px;
  top: 24px;
}
@media (max-width: 768px) {
  .news__contents-day {
    position: static;
    display: block;
  }
}

@media (max-width: 992px) {
  .news__btn--pc {
    display: none;
  }
}

.news__btn--tab {
  display: none;
}
@media (max-width: 992px) {
  .news__btn--tab {
    display: flex;
  }
}

.footer {
  padding: 48px 0px 64px;
  background-color: #101010;
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}

.footer__contents {
  display: flex;
  margin-bottom: 48px;
  gap: 80px;
}
@media (max-width: 992px) {
  .footer__contents {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__contents-logo {
  flex: 1;
  align-self: center;
}
.footer__contents-logo a {
  transition: all 0.3s ease-in-out;
}
.footer__contents-logo a:hover {
  opacity: 0.7;
}

.footer__contents-nav {
  flex: 1;
  list-style-type: none;
  border-left: 1px solid #ffffff;
}
.footer__contents-nav li a {
  color: #ffffff;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  padding: 12px 24px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.footer__contents-nav li a:hover {
  opacity: 0.7;
}

.footer__nav-ja {
  display: block;
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 16px;
}

.footer__message {
  flex: 2;
}

.footer__message-ttl {
  font-size: 24px;
  letter-spacing: 0.08em;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}
@media (max-width: 768px) {
  .footer__message-ttl {
    font-size: 20px;
  }
}

.footer__message-body {
  color: #ffffff;
  line-height: 1.75;
}
@media (max-width: 768px) {
  .footer__message-body {
    font-size: 14px;
  }
}

.footer__copyright {
  color: #ffffff;
  text-align: center;
}

.keyvisual {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.keyvisual.show {
  opacity: 1;
  transform: translateY(0);
}

.section .inner--small {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.section .inner--small.show {
  opacity: 1;
  transform: translateY(0);
}

.fadein {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show {
  opacity: 1;
  transform: translateY(0);
}

.contact {
  padding: 48px 24px 64px;
}
@media (max-width: 768px) {
  .contact {
    padding-bottom: 48px;
  }
}

.contact-form {
  max-width: 800px;
  margin: 0 auto 48px;
}

.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 8px;
  }
}

.form-row.full {
  flex-direction: column;
  align-items: flex-start;
}
.form-row.full button {
  margin: 0 auto;
}

label {
  width: 200px;
  font-weight: normal;
  padding-top: 10px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #101010;
}
@media (max-width: 768px) {
  label {
    font-size: 14px;
    width: 100%;
  }
}

.required {
  color: #a84444;
  font-size: 14px;
  margin-left: 4px;
}
@media (max-width: 768px) {
  .required {
    font-size: 12px;
  }
}

input[type=text],
input[type=email],
textarea {
  flex: 1;
  padding: 16px;
  font-size: 16px;
  background: #f7f7f7;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  resize: vertical;
  color: #101010;
}
@media (max-width: 768px) {
  input[type=text],
  input[type=email],
  textarea {
    font-size: 16px;
    width: 100%;
  }
}

textarea {
  min-height: 200px;
}

.consent {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}
.consent span {
  margin-left: 24px;
}

.consent a {
  color: #3b82f6;
  text-decoration: underline;
}

.contact__btn {
  background: #a84444;
  color: white;
  padding: 16px 40px;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1.5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .contact__btn {
    width: 100%;
  }
}
.contact__btn:hover {
  background-color: #652929;
  box-shadow: none;
}

.mb32 {
  margin-bottom: 32px;
}

.commitment--detail {
  padding: 48px 24px 64px;
}
@media (max-width: 768px) {
  .commitment--detail {
    padding: 24px 24px 48px;
  }
}

.commitment__subttl--detail {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 20px;
}
@media (max-width: 992px) {
  .commitment__subttl--detail {
    font-size: 16px;
  }
}

.commitment__contents--detail {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 48px;
}
.commitment__contents--detail:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .commitment__contents--detail {
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 24px;
  }
}

.commitment__contents-text--detail {
  width: 50%;
}
@media (max-width: 768px) {
  .commitment__contents-text--detail {
    width: 100%;
    order: 3;
  }
}

.commitment__contents-ttl--detail {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .commitment__contents-ttl--detail {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .commitment__contents-ttl--detail {
    display: none;
    font-size: 20px;
  }
}
.commitment__contents-ttl--detail img {
  margin-right: 24px;
}
@media (max-width: 992px) {
  .commitment__contents-ttl--detail img {
    width: 48px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .commitment__contents-ttl--detail img {
    width: 32px;
    margin-right: 8px;
  }
}

.commitment__sp-only {
  display: none;
}
@media (max-width: 768px) {
  .commitment__sp-only {
    display: block;
    order: 1;
    margin-bottom: 0;
  }
}

.commitment__contents-description--detail {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 2;
}
@media (max-width: 768px) {
  .commitment__contents-description--detail {
    font-size: 16px;
  }
}

.commitment__contents-img--detail {
  width: 50%;
}
@media (max-width: 768px) {
  .commitment__contents-img--detail {
    width: 100%;
    order: 2;
  }
}
.commitment__contents-img--detail img {
  width: 100%;
  height: auto;
  margin-top: 48px;
}
@media (max-width: 768px) {
  .commitment__contents-img--detail img {
    margin-top: 0;
  }
}

.selection--detail {
  padding: 48px 24px;
  position: relative;
}

.selection__contents-ttl--detail {
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .selection__contents-ttl--detail {
    font-size: 24px;
  }
}

.selection__contents--detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .selection__contents--detail {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .selection__contents--detail {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}

.selection__card--detail {
  position: relative;
}
.selection__card--detail img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.selection__card-label--detail {
  position: absolute;
  left: -8px;
  background-color: #fab03a;
  padding: 4px 24px;
  color: #ffffff;
  transform: rotate(-25deg);
}

.selection__card-ttl--detail {
  text-align: center;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1;
}

.selection__card-price--detail {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1;
}

.selection__card-description--detail {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
@media (max-width: 768px) {
  .selection__card-description--detail {
    font-size: 16px;
  }
}

.information--detail {
  padding: 48px 24px 64px;
}
@media (max-width: 768px) {
  .information--detail {
    padding-bottom: 24px;
  }
}

.information__contents--detail {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .information__contents--detail {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .information__contents--detail {
    flex-wrap: wrap;
  }
}

.information__contents-image--detail {
  width: calc(35% - 24px);
}
@media (max-width: 992px) {
  .information__contents-image--detail {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .information__contents-image--detail {
    width: 100%;
    order: 2;
  }
}
.information__contents-image--detail img {
  width: 100%;
  height: auto;
}
.information__contents-image--detail iframe {
  height: 450px;
  width: 100%;
}
@media (max-width: 768px) {
  .information__contents-image--detail iframe {
    height: 250px;
  }
}

.information__contents-text--detail {
  width: calc(65% - 24px);
}
@media (max-width: 992px) {
  .information__contents-text--detail {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .information__contents-text--detail {
    width: 100%;
    order: 3;
  }
}

.information__text-ttl--detail {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .information__text-ttl--detail {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .information__text-ttl--detail {
    display: none;
  }
}

.information__ttl--sp {
  display: none;
}
@media (max-width: 768px) {
  .information__ttl--sp {
    display: block;
    margin-bottom: 0;
    order: 1;
  }
}

.information__text-list--detail li {
  margin-left: 24px;
  margin-bottom: 24px;
  font-size: 18px;
  list-style-type: circle;
}
@media (max-width: 992px) {
  .information__text-list--detail li {
    font-size: 16px;
  }
}

.sns {
  padding: 48px 24px 64px;
  background-color: #f7f7f7;
}

.sns__ttl {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 48px;
  line-height: 1.1;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
@media (max-width: 768px) {
  .sns__ttl {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.sns__description {
  text-align: center;
  font-size: 20px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .sns__description {
    font-size: 16px;
  }
}

.sns__contents {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .sns__contents {
    flex-wrap: wrap;
  }
}

.sns__box {
  width: 33.3%;
  text-align: center;
}
@media (max-width: 768px) {
  .sns__box {
    width: 100%;
    margin-bottom: 24px;
  }
}
.sns__box a {
  color: #363636;
  transition: all 0.3s ease-in-out;
}
.sns__box a:hover {
  opacity: 0.7;
}
.sns__box p {
  padding: 16px 48px;
}

.fab {
  font-size: 64px;
}

.news--detail {
  padding: 48px 24px 64px;
  background-color: #f7f7f7;
}

.news__card--detail {
  display: flex;
  margin-bottom: 24px;
  border: 1px solid #f7f7f7;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .news__card--detail {
    flex-wrap: wrap;
  }
}
.news__card--detail:hover {
  background-color: rgba(168, 68, 68, 0.1);
  cursor: pointer;
}

.news__card-img--detail {
  max-width: 255px;
}
@media (max-width: 768px) {
  .news__card-img--detail {
    max-width: 100%;
    width: 100%;
  }
}
.news__card-img--detail img {
  width: 100%;
  height: 100%;
  display: block;
}

.news__card-text--detail {
  padding: 24px;
  color: #363636;
}
@media (max-width: 768px) {
  .news__card-text--detail {
    width: 100%;
    padding: 16px;
  }
}

.news__text-ttl--detail {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .news__text-ttl--detail {
    font-size: 20px;
    text-align: justify;
  }
}

.news__text-day--detail {
  font-size: 16px;
  margin-bottom: 16px;
}

.news__text-description--detail {
  font-size: 16px;
}
@media (max-width: 768px) {
  .news__text-description--detail {
    text-align: justify;
  }
}

.article {
  padding: 24px 24px 64px;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .article {
    padding: 24px 16px;
  }
}

.article__label {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .article__label {
    margin-bottom: 16px;
    padding-left: 24px;
  }
}
.article__label a {
  color: #363636;
  transition: all 0.1s ease-in-out;
}
.article__label a:hover {
  border-bottom: 1px solid #363636;
}

.article__card {
  padding: 48px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .article__card {
    padding: 16px;
  }
}

.article__card-ttl {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .article__card-ttl {
    margin-bottom: 16px;
  }
}

.article__card-day {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .article__card-day {
    margin-bottom: 16px;
  }
}

.article__card-img {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .article__card-img {
    margin-bottom: 16px;
  }
}
.article__card-img img {
  width: 100%;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .article__card-img img {
    height: 324px;
  }
}

.article__card-text {
  margin-bottom: 24px;
  line-height: 2;
  font-size: 18px;
}
@media (max-width: 768px) {
  .article__card-text {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
}

.commingsoon {
  padding: 48px 24px 64px;
}

.commingsoon__contents {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 768px) {
  .commingsoon__contents {
    gap: 24px;
    flex-wrap: wrap;
  }
}

.commingsoon__img {
  width: 40%;
}
@media (max-width: 768px) {
  .commingsoon__img {
    width: 100%;
  }
}
.commingsoon__img img {
  width: 100%;
  height: auto;
}

.commingsoon__text {
  width: 60%;
  margin-top: 48px;
}
@media (max-width: 768px) {
  .commingsoon__text {
    width: 100%;
    margin-top: 0;
  }
}

.commingsoon__ttl {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .commingsoon__ttl {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.commingsoon__description {
  font-size: 20px;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .commingsoon__description {
    font-size: 16px;
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=style.css.map */