@charset "UTF-8";
/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 16px;
  font-weight: 500;
  color: #363636;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #363636;
}

th, td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #363636;
}

input, textarea {
  padding: 8px;
  border: 1px solid #363636;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid #363636;
  box-shadow: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  border: none;
}
input[type=submit] ::-moz-focus-inner {
  padding: 0;
  border: none;
}
input[type=radio] {
  display: none;
}
input[type=radio] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
}
input[type=radio] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #363636;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=radio] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=radio] + span:focus, input[type=radio] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #363636;
}
input[type=radio]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
  background: #363636;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type=checkbox] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #363636;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=checkbox] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=checkbox]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #363636;
  border-bottom: 3px solid #363636;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #363636;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
  border: 1px solid #363636;
  box-shadow: none;
}

.hidden {
  display: none;
}

.wrapper {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  background-color: transparent;
  padding: 24px;
  width: 100%;
}

.header__contents {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  transition: 0.3s all ease-in-out;
}
.header__logo img {
  width: 162px;
  height: auto;
}
.header__logo:hover {
  opacity: 0.7;
}

.header__nav-links {
  display: flex;
  list-style-type: none;
}
@media (max-width: 992px) {
  .header__nav-links {
    display: none;
  }
}
.header__nav-links li {
  margin-left: 24px;
}
@media (max-width: 992px) {
  .header__nav-links li {
    margin-left: 0;
  }
}
.header__nav-links li a {
  color: #ffffff;
  transition: 0.3s all ease-in-out;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  display: block;
  font-size: 20px;
}
.header__nav-links li a:hover {
  border-bottom: 2px solid #ffffff;
}

.header__nav-ja {
  display: block;
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 16px;
}

.header__menu-toggle {
  display: none;
}
@media (max-width: 992px) {
  .header__menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 56px;
    width: 48px;
    padding: 0;
    padding-top: 8px;
    position: relative;
    z-index: 100;
  }
}

.header__menu-icon {
  background-color: #ffffff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out 0s;
}

.header__menu-label {
  font-size: 14px;
  color: #ffffff;
  padding: 0 7px;
  transition: all 0.3s ease-in-out 0s;
}

.active .header__menu-toggle .header__menu-icon:nth-child(1) {
  transform: translateY(0) rotate(225deg);
  position: absolute;
  top: 24px;
}
.active .header__menu-toggle .header__menu-icon:nth-child(2) {
  transform: translateY(0) rotate(-225deg);
  position: absolute;
  top: 24px;
}
.active .header__menu-toggle .header__menu-icon:nth-child(3) {
  display: none;
}
.active .header__menu-toggle .header__menu-label {
  display: none;
}
@media (max-width: 992px) {
  .active .header__nav-links {
    display: block;
    position: absolute;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    width: 100%;
    left: 0;
    padding: 50px 30px;
    text-align: center;
    z-index: 99;
  }
}
.active li {
  width: 100%;
}
@media (max-width: 992px) {
  .active li a {
    padding: 30px;
    border-bottom: 1px solid #ffffff;
  }
}

.inner--small {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

.inner--large {
  margin: 0 auto;
  max-width: 1232px;
  width: 100%;
}

.cta {
  padding: 48px 24px 64px;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .cta {
    padding: 24px 24px 48px;
  }
}
.cta .cta-btn {
  margin: 0 auto;
}

.cta__ttl {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: normal;
}
@media (max-width: 992px) {
  .cta__ttl {
    font-size: 24px;
  }
}

.cta__description {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 32px;
}

.cta-btn {
  padding: 24px 0;
  text-align: center;
  display: block;
  color: #ffffff;
  max-width: 496px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  background-color: #a84444;
  transition: all 0.3s ease-in-out;
  border: 1px solid #a84444;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cta-btn:hover {
  background-color: #ffffff;
  color: #a84444;
  box-shadow: none;
}
@media (max-width: 768px) {
  .cta-btn {
    max-width: 100%;
    padding: 16px 0;
    font-size: 16px;
  }
}

.section__ttl {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 24px;
  line-height: 1.1;
  font-family: "Cormorant Garamond", serif;
}
@media (max-width: 992px) {
  .section__ttl {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .section__ttl {
    font-size: 32px;
  }
}

.section__ttl-ja {
  display: block;
  font-size: 20px;
}

.header--detail {
  background-color: #000000;
  position: relative;
}

.section__ttl--detail {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 24px;
  line-height: 1.1;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
@media (max-width: 768px) {
  .section__ttl--detail {
    font-size: 30px;
  }
}
.section__ttl--detail span {
  display: block;
  font-size: 20px;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.keyvisual {
  background-image: url(../images/amande-keyvisual.webp);
  background-size: cover;
  background-position: 0% 100%;
  color: #ffffff;
  text-align: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .keyvisual {
    background-position: 50% 100%;
  }
}

.inner--mask {
  background-color: rgba(54, 54, 54, 0.6);
  padding: 240px 24px;
}

.keyvisual__ttl {
  font-size: 48px;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 24px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .keyvisual__ttl {
    font-size: 40px;
  }
}

.keyvisual__subttl {
  font-size: 24px;
}

.commitment {
  padding: 48px 24px 64px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .commitment {
    padding: 24px 24px 48px;
  }
}

.commitment__contents {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 768px) {
  .commitment__contents {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

.commitment__text {
  width: 50%;
}
@media (max-width: 768px) {
  .commitment__text {
    order: 2;
    width: 100%;
    margin: 0 auto;
  }
}

.commitment__ttl--sp {
  display: none;
}
@media (max-width: 768px) {
  .commitment__ttl--sp {
    display: block;
    text-align: center;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .commitment__ttl {
    display: none;
  }
}

.commitment__description {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 2;
  text-align: justify;
}
@media (max-width: 768px) {
  .commitment__description {
    margin-bottom: 24px;
  }
}

.commitment__img {
  width: 50%;
}
@media (max-width: 768px) {
  .commitment__img {
    width: 100%;
    order: 1;
  }
}
.commitment__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .commitment__img img {
    height: auto;
  }
}

.selection {
  padding: 48px 24px 64px;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .selection {
    padding: 24px 24px 48px;
  }
}

.selection__ttl {
  text-align: center;
}

.selection__contents {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .selection__contents {
    margin-bottom: 24px;
    gap: 24px;
  }
}

.selection__card {
  width: 33.3%;
  position: relative;
}
@media (max-width: 992px) {
  .selection__card {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .selection__card {
    width: 100%;
  }
}
.selection__card img {
  width: 100%;
  height: auto;
}

.selection__card-label {
  background-color: rgba(54, 54, 54, 0.8);
  color: #ffffff;
  text-align: center;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.selection__btn {
  margin: 0 auto;
}

.information {
  padding: 48px 24px 64px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .information {
    padding: 24px 24px 48px;
  }
}

.information__contents {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 768px) {
  .information__contents {
    flex-wrap: wrap;
    gap: 24px;
  }
}

.information__ttl--sp {
  display: none;
}
@media (max-width: 768px) {
  .information__ttl--sp {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.information__img {
  width: 40%;
}
@media (max-width: 768px) {
  .information__img {
    width: 100%;
    order: 1;
  }
}
.information__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.information__text {
  width: 60%;
}
@media (max-width: 768px) {
  .information__text {
    width: 100%;
    order: 2;
  }
}

@media (max-width: 768px) {
  .information__ttl {
    display: none;
  }
}

.information__description {
  list-style: none;
  margin-bottom: 24px;
}
.information__description li {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .information__description li {
    margin-bottom: 16px;
  }
}
.information__description li:last-child {
  margin-bottom: 0;
}

.news {
  padding: 48px 24px 64px;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .news {
    padding: 24px 24px 48px;
  }
}

.news__ttl {
  text-align: center;
}

.news__contents {
  margin-bottom: 48px;
  list-style: none;
}
@media (max-width: 768px) {
  .news__contents {
    margin-bottom: 24px;
  }
}
.news__contents li {
  border-top: 1px solid #363636;
  position: relative;
}
.news__contents li:last-child {
  border-bottom: 1px solid #363636;
}
.news__contents li a {
  display: block;
  color: #363636;
  padding: 24px;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .news__contents li a {
    font-size: 16px;
    padding: 16px;
    width: 70%;
  }
}
.news__contents li a:hover {
  background-color: rgba(168, 68, 68, 0.1);
}

.news__contents-day {
  position: absolute;
  right: 24px;
  top: 24px;
}
@media (max-width: 768px) {
  .news__contents-day {
    top: 16px;
    right: 16px;
  }
}

.news__btn {
  margin: 0 auto;
}

.footer {
  padding: 48px 24px 64px;
  background-color: #000000;
}
@media (max-width: 768px) {
  .footer {
    padding: 24px 24px 48px;
  }
}

.footer__contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .footer__contents {
    flex-wrap: wrap;
    margin-bottom: 24px;
    gap: 24px;
  }
}

.footer__contents-logo {
  width: 33.3%;
}
@media (max-width: 768px) {
  .footer__contents-logo {
    width: 100%;
    text-align: center;
  }
}

.footer__contents-nav {
  width: 33.3%;
  list-style-type: none;
}
@media (max-width: 768px) {
  .footer__contents-nav {
    width: 100%;
    text-align: center;
  }
}
.footer__contents-nav li {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__contents-nav li {
    margin-bottom: 16px;
    padding: 16px;
    border-bottom: 1px solid #ffffff;
  }
}
.footer__contents-nav li:last-child {
  margin-bottom: 0;
}
.footer__contents-nav li a {
  color: #ffffff;
  font-family: "Cormorant Garamond", serif;
  transition: all 0.3s ease-in-out;
}
.footer__contents-nav li a:hover {
  opacity: 0.7;
}

.footer__nav-ja {
  display: block;
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 16px;
}

.footer__contents-sns {
  width: 33.3%;
}
@media (max-width: 768px) {
  .footer__contents-sns {
    width: 100%;
    text-align: center;
  }
}

.footer__sns-ttl {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 24px;
  font-family: "Cormorant Garamond", serif;
}
@media (max-width: 768px) {
  .footer__sns-ttl {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
  }
}

.footer__sns-list {
  list-style-type: none;
  margin-left: 24px;
}
@media (max-width: 768px) {
  .footer__sns-list {
    margin-left: 0;
  }
}
.footer__sns-list li {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__sns-list li {
    margin-bottom: 16px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 16px;
  }
}
.footer__sns-list li a {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  font-family: "Cormorant Garamond", serif;
}
.footer__sns-list li a:hover {
  opacity: 0.7;
}

.footer__copyright {
  color: #ffffff;
  text-align: center;
}

.commitment--detail {
  padding: 48px 24px 64px;
}
@media (max-width: 768px) {
  .commitment--detail {
    padding: 24px 24px 48px;
  }
}

.commitment__subttl--detail {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 20px;
}
@media (max-width: 992px) {
  .commitment__subttl--detail {
    font-size: 16px;
  }
}

.commitment__contents--detail {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 48px;
}
.commitment__contents--detail:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .commitment__contents--detail {
    flex-wrap: wrap;
    gap: 16px;
  }
}

.commitment__contents-text--detail {
  width: 50%;
}
@media (max-width: 768px) {
  .commitment__contents-text--detail {
    width: 100%;
    order: 3;
  }
}

.commitment__contents-ttl--detail {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .commitment__contents-ttl--detail {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .commitment__contents-ttl--detail {
    display: none;
  }
}
.commitment__contents-ttl--detail img {
  margin-right: 24px;
}
@media (max-width: 992px) {
  .commitment__contents-ttl--detail img {
    width: 48px;
    height: auto;
  }
}

.commitment__sp-only {
  display: none;
}
@media (max-width: 768px) {
  .commitment__sp-only {
    display: block;
    order: 1;
    margin-bottom: 0;
  }
}

.commitment__contents-description--detail {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 2;
}

.commitment__contents-img--detail {
  width: 50%;
}
@media (max-width: 768px) {
  .commitment__contents-img--detail {
    width: 100%;
    order: 2;
  }
}
.commitment__contents-img--detail img {
  width: 100%;
  height: auto;
  margin-top: 48px;
}
@media (max-width: 768px) {
  .commitment__contents-img--detail img {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */