// 色の定義

// main color
$mc-black:#000000;
$mc-light-black:#363636;

// base color
$bc-white:#ffffff;
$bc-light-glay:#f7f7f7;
$bc-glay:#d9d9d9;

// accent color
$ac-wine-red:#a84444;
$ac-yellow:#fab03a;



// bellow delete
$MainColor:#363636;
$BaseColor1:#fff;
