.commingsoon{
  padding: 48px 24px 64px;
}

.commingsoon__contents{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  @include sp{
    gap: 24px;
    flex-wrap: wrap;
  }
}

.commingsoon__img{
  width: 40%;
  @include sp{
    width: 100%;
  }
  img{
    width: 100%;
    height: auto;
  }
}

.commingsoon__text{
  width: 60%;
  margin-top: 48px;
  @include sp{
    width: 100%;
    margin-top: 0;
  }
}

.commingsoon__ttl{
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 48px;
  @include tab{
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.commingsoon__description{
  font-size: 20px;
  margin-bottom: 48px;
  @include tab{
    font-size: 16px;
    margin-bottom: 24px;
  }
}