// header
.header{
    position: absolute;
    top: 0;
    background-color:  transparent;
    padding: 20px 24px;
    width: 100%;
    z-index: 100;
  }
  
  .header__contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo{
    transition: 0.3s all ease-in-out;
    line-height: 1;
    img{
      width: 200px;
      height: auto;
      @include sp{
        width: 140px;
      }
    }
    &:hover{
      opacity: 0.7;
    }
  }
  .header__nav-links{
    display: flex;
    list-style-type: none;
    @include tab{
      display: none;
    }
  
    li{
      margin-left: 16px;
      @include tab{
        margin-left: 0;
      }
      a{
        color: $bc-white;
        transition: 0.3s all ease-in-out;
        text-align: center;
        display: block;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0.08em;
        padding: 14px;
        border: 1px solid transparent;
        border-radius: 12px;
        // font-family: $ff-kgpw3;
        // text-shadow: 2px 2px 2px rgba(255,255,255,0.7);
        // text-shadow: 2px 2px 2px rgba(0,0,0,1);
        &:hover{
          border: 1px solid $bc-white;
        }
      }
    }
  }
  // .header__nav-ja{
  //   display: block;
  //   font-family: $ff-mincho-ja;
  //   font-size: 14px;
  // }
  
  // 以下ハンバーガーメニューの実装
  .header__menu-toggle{
    display: none;
    @include tab{
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 48px;
      width: 44px;
      padding: 0;
      position: absolute;
      top: 16px;
      right: 24px;
      z-index: 100;
    }
  }
  
  .header__menu-icon {
    background-color: $bc-white;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    transition: all 0.3s ease-in-out 0s;
    position: absolute;
    &:nth-child(1){
      top: 8px;
    }
    &:nth-child(2){
      top: 16px;
    }
    &:nth-child(3){
      top: 24px;
    }
  }
  
  .header__menu-label{
    font-size: 14px;
    color: $bc-white;
    padding: 0 4px;
    transition: all 0.3s ease-in-out 0s;
    position: absolute;
    top: 36px;
  }
  
  .active{
    .header__menu-toggle{
      .header__menu-icon{
        &:nth-child(1){
          -webkit-transform: translateY(0) rotate(225deg);
          -ms-transform: translateY(0) rotate(225deg);
          transform: translateY(0) rotate(225deg);
          position: absolute;
          top: 16px;
        }
        &:nth-child(2){
          -webkit-transform: translateY(0) rotate(-225deg);
          -ms-transform: translateY(0) rotate(-225deg);
          transform: translateY(0) rotate(-225deg);
          position: absolute;
          top: 16px;
        }
        &:nth-child(3){
          display: none;
        }
      }
      .header__menu-label{
        // display: none;
      }
    }
    .header__nav-links{
      @include tab{
        display: block;
        position: absolute;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        top: 0;
        width: 100%;
        left: 0;
        padding: 96px 24px;
        text-align: center;
        z-index: 99;
      }
    }
      li{
        width: 100%;
        margin-bottom: 24px;
        a{
          @include tab{
            padding: 16px;
            border: 1px solid $bc-white;
          }
        }
      }
    }
  
  .header--detail{
  background-color: $mc-black;
  position: relative;
  padding: 16px 24px;
  }
    // header end
  
