.news--detail{
  padding: 48px 24px 64px;
  background-color: $bc-light-glay;
}
.news__card--detail{
  display: flex;
  margin-bottom: 24px;
  border: 1px solid $bc-light-glay;
  background-color: $bc-white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
  @include sp{
    flex-wrap: wrap;
  }
  &:hover{
    background-color:rgba(168,68,68,0.1);
    cursor: pointer;
  }
}
.news__card-img--detail{
  max-width: 255px;
  @include sp{
    max-width: 100%;
    width: 100%;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
.news__card-text--detail{
  padding: 24px;
  color: $mc-light-black;
  @include sp{
    width: 100%;
    padding: 16px;
  }
}
.news__text-ttl--detail{
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  @include sp{
    font-size: 20px;
    text-align: justify;
  }
}
.news__text-day--detail{
  font-size: 16px;
  margin-bottom: 16px;
}
.news__text-description--detail{
  font-size: 16px;
  @include sp{
    text-align: justify;
  }
}