.selection--detail{
  padding: 48px 24px;
  position: relative;
}

.selection__contents-ttl--detail{
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 24px;
  @include sp{
    font-size: 24px;
  }
}

.selection__contents--detail{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 32px;
  @include tab{
    grid-template-columns: repeat(2, 1fr);
  }
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}
.selection__card--detail{
  position: relative;
  
  img{
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
}
.selection__card-label--detail{
  position: absolute;
  left: -8px;
  background-color: $ac-yellow;
  padding: 4px 24px;
  color: $bc-white;
  transform: rotate(-25deg);

}
.selection__card-ttl--detail{
  text-align: center;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1;
}
.selection__card-price--detail{
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1;
}
.selection__card-description--detail{
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  @include sp{
    font-size: 16px;
  }
}
